name: CI/CD Pipeline

on:
  push:
  pull_request:

jobs:
  # Continuous Integration
  buildAndTest:
    name: Run tests and code quality
    runs-on: ubuntu-22.04
    steps:
      - name: Check out the Git repository
        uses: actions/checkout@v4

      - name: Set up Java toolchain
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "gradle"

      - name: Make gradlew executable
        working-directory: ./apps/backend/
        run: chmod +x ./gradlew

      - name: Run unit tests and checkstyle linter
        working-directory: ./apps/backend/
        run: ./gradlew test check
      - name: Build and Analyze
        working-directory: ./apps/backend/
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
          SONAR_PROJECT_KEY: 'advprog-2026-A5-project_group-project'
          GITHUB_HEAD_REF: ''
          GITHUB_BASE_REF: ''
          GITHUB_PR_NUMBER: ''
          GITHUB_REF: 'refs/heads/main'
        run:
          ./gradlew build sonar \
            -Dsonar.organization=advprog-2026-a5-project \
            -Dsonar.projectKey="$SONAR_PROJECT_KEY" \
            -Dsonar.qualitygate.wait=true

      - name: Generate SonarQube HTML Report
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: |
          # Use npx to run the tool directly without needing a separate install step
          npx sonar-report \
            --sonarurl="$SONAR_HOST_URL" \
            --sonarcomponent="$SONAR_PROJECT_KEY" \
            --sonartoken="$SONAR_TOKEN" \
            --allbugs="true" \
            --output="sonar-analysis-report.html"

      - name: Upload HTML Report as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: sonarqube-report
          path: sonar-analysis-report.html

  dummy-deploy:
    needs: buildAndTest
    if: github.ref == 'refs/heads/staging' || github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Check Quality Gate
        run: echo "Quality Gate Passed! Tests and Linter are clean."

      - name: Simulate Deployment to Staging
        if: github.ref == 'refs/heads/staging'
        run: |
          echo "Simulating deployment to STAGING Environment..."
          echo "Connecting to Server... [MOCK]"
          echo "Deployment Success!"

      - name: Simulate Deployment to Production
        if: github.ref == 'refs/heads/main'
        run: |
          echo "Simulating deployment to PRODUCTION Environment..."
          echo "Connecting to Server... [MOCK]"
          echo "Deployment Success!"